<div class="tocify-wrapper">
  <h4 class="toc-title">{{title}} Reference</h4>
  <div class="search-box">
    <form action="/searchresults.html">
      <input type="text" name="q" id="tipue_search_input" autocomplete="off" required="true" tabindex="1">
      <input type="submit" id="search_submit" value="Search the docs">
    </form>
  </div>
  {{> nav}}
</div>
<div class="page-wrapper">
  <div class="content">
    {{{apiconventions}}}
    <div name="navsection-endpoints" data-unique="navsection-endpoints"></div>
    <h1 id="navsection-endpoints">API Endpoints</h1>
    {{#each endpointEntities}}
    <div name="navsection-{{#idify}}{{@key}}{{/idify}}" data-unique="navsection-{{#idify}}{{@key}}{{/idify}}"></div>
    <h2 id="navsection-{{#idify}}{{@key}}{{/idify}}">{{@key}}</h2>
      {{#each this}}
        {{> endpoint}}
      {{/each}}
    {{/each}}
    <div name="navsection-datatypes" data-unique="navsection-datatypes"></div>
    <h1 id="navsection-datatypes">API Data Types</h1>
    {{#each datatypes}}
      {{> datatype}}
    {{/each}}
    <div name="navsection-enums" data-unique="navsection-enums"></div>
    <h1 id="navsection-enums">API Enums</h1>
    {{#each enums}}
      {{> enum}}
    {{/each}}
    {{> changelog this.changelog}}
  </div>
</div>
