<div name="type-{{#idify}}{{this.name}}{{/idify}}" data-unique="type-{{#idify}}{{this.name}}{{/idify}}"></div>
<h3 id="type-{{#idify}}{{this.name}}{{/idify}}" class="enum"><code>{{this.name}}</code></h3>
{{#convertMarkdown}}{{{this.details.description}}}{{/convertMarkdown}}
<h4>Fields</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.values}}
    <tr>
      <td><code>{{this.name}}</code></td>
      <td>{{#convertMarkdown}}{{{this.description}}}{{/convertMarkdown}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
